<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test1</servlet-name>
        <servlet-class>test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogIn</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVoter</servlet-name>
        <servlet-class>RegisterVoter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterLogin</servlet-name>
        <servlet-class>VoterLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogIn</servlet-name>
        <url-pattern>/adminLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVoter</servlet-name>
        <url-pattern>/RegisterVoter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterLogin</servlet-name>
        <url-pattern>/VoterLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
